<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href='https://fonts.googleapis.com/css?family=Tiro Devanagari Marathi'
	rel='stylesheet'>
<title>साई भक्ती ट्रेडिंग कंपनी</title>
<style>
/* Optional: Add some styling for better presentation */
body {
	background-color: lightpink;
	font-family: 'Tiro Devanagari Marathi';
	font-size: 30px;
	font-size: 1.5em;
	padding: 0px;
}

div {
	margin-left: 200px;
	margin-top: 0px;
	margin-right: 200px;
}

result {
	font-weight: bold;
	font-size: 10px;
}
</style>
</head>
<body>




	<div>

		<h1 style="margin-left:2%; color: DARKRED;">साई भक्ती
			ट्रेडिंग कंपनी</h1>
		<h4 style="margin-left:10%; color: green;">कांदा व भुसार
			मालाचे व्यापारी</h4>
		<h6 style="margin-left:10%;">प्रोप्रा.दिलीप खैरनार 9657979398<br>प्रोप्रा.विकास चव्हाण 9527829999</h6>

		<!-- Input fields -->

		<label for="quintal">भाव:</label> <input type="number" id="rate"
			oninput="calculateSum()"> <label for="quintal">क्विंटल:</label>
		<input type="number" id="quintal" oninput="calculateSum()">



		<!-- Button to trigger the calculation 
    <button onclick="calculateSum()">Calculate total</button>  -->

		<!-- Display the result -->
		<p id="result">
			एकूण रक्कम: <span id="sumResult">0</span>
		</p>
		<i><font color="blue">
			
				हमाली: <span id="sumHamali">0</span> तोलई: <span id="sumTolai">0</span>
			</font></i>
			 <p><font color="green">
				एकूण देय रक्कम: <span id="sumDed">0</span>
				</font> </p>
				<label for="uchal">उचल:</label> <input type="number" id="uchal"
			oninput="calculateSum()"> <font color="red">
				
					बाकी: <span id="sumUchal">0</span>
				</font> 
				<p>	<font style="size: 10%;">	<span id="date"></span> </font> </p>
	</div>



		




	<script>
        // JavaScript function to calculate and display the sum
        function calculateSum() {
            // Get values from input fields
            var field1Value = parseFloat(document.getElementById('rate').value) || 0;
            var field2Value = parseFloat(document.getElementById('quintal').value) || 0;
           
            
            
           var field3Value = parseFloat(document.getElementById('uchal').value) || 0; 

            
            

            // Calculate the sum
            var total = field1Value * field2Value;
            var hamali = field2Value * 7.25;
            var tolai = field2Value * 4.80;
            
            var tded = hamali+tolai;
            
            var trem = total - tded;
            
            var uchal = trem - field3Value;
            
            // Display the result
            
            document.getElementById('sumHamali').innerText = hamali;

            document.getElementById('sumTolai').innerText = tolai;
            
            document.getElementById('sumDed').innerText = trem;
            
            document.getElementById('sumUchal').innerText = uchal;
            
            document.getElementById('sumResult').innerText = total;
            
            document.getElementById('date').innerHTML = Date();

        }
    </script>
</body>
</html>